.root{
    -fx-background-color: #eee5de;
}
.rightPanel{
    -fx-background-color: #eee5de;
}
.button {
    -fx-background-color: #625D5D;
    -fx-text-fill: #d6a880;
    -fx-font-family: "Verdana";
    -fx-font-size: 11px;
}
.button:hover{
    -fx-background-color: #000000;
}
.button2{
    -fx-background-color: #ae9279;
    -fx-text-fill: #000000;
}
.button2:hover{
    -fx-background-color: #7f6a59;
}
.textField{
    -fx-background-color: #f6f2df;
}
.table-view{
    -fx-focus-color: #20bdc5;
}
.table-view .column-header{
    -fx-background-color: #ae9279;
    -fx-border-color: #625D5D;
}
.table-view .filler{
    -fx-background-color: #ae9279;
}
.table-view .table-cell{
    -fx-alignment: CENTER;
}
.table-row-cell:selected{
    -fx-background-color: #20bdc5;
}
.tab{
    -fx-background-color: #ae9c8e;
    -fx-focus-color: #20bdc5;
}
.tab-pane{
    -fx-tab-min-width: 90px;
}
.tab:selected{
    -fx-background-color: #eee5de;
}
.tab:selected .tab-label{
    -fx-font-weight: bold;
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: #ae9c8e;
}
.layoutPanel{
    -fx-background-radius: 5;
    -fx-background-color: #625D5D;
}
.text-field{
    -fx-focus-color: #20bdc5;
}
.text-area{
    -fx-focus-color: #20bdc5;
}
.radio-button{
    -fx-focus-color: #20bdc5;
}
.date-picker{
    -fx-focus-color: #20bdc5;
}
.date-picker > .arrow-button{
    -fx-background-color: #ae9279;
}
.date-picker-popup > .month-year-pane{
    -fx-background-color: #ccbfb6;
}
.date-picker-popup > * > .date-cell:hover{
    -fx-background-color: #20bdc5;
    -fx-text-fill: #FFFFFF;
}
.date-picker-popup > * > .date-cell-today{
    -fx-focus-color: #20bdc5;
}
.date-picker-popup > * > .date-cell.selected{
    -fx-background-color: #20bdc5;
    -fx-text-fill: #FFFFFF;
}
.date-picker-popup > * > .date-cell{
    -fx-cell-focus-inner-border: #20bdc5;
}
.date-picker-popup > * > .date-cell{
    -fx-text-fill: #20bdc5;
}
.date-picker-popup > * > .week-number-cell{
    -fx-text-fill: #625D5D;
}
.date-picker-popup > * > .day-name-cell{
    -fx-text-fill: #625D5D;
}
.warning{
    -fx-background-color: #cc0000;
    -fx-text-inner-color: #FFFFFF;
}
.notification{
    -fx-background-color: #20bdc5;
    -fx-text-inner-color: #FFFFFF;
}
.warningArea .content{
    -fx-background-color: #cc0000;
}
.warningArea{
    -fx-background-color: #cc0000;
    -fx-text-inner-color: #FFFFFF;
}
.notifyArea .content{
    -fx-background-color: #20bdc5;
}
.notifyArea{
    -fx-background-color: #20bdc5;
    -fx-text-inner-color: #FFFFFF;
}
.labelBlue{
    -fx-text-fill: #20bdc5;
}
.labelTitle{
    -fx-text-fill: #625d5d;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}