.root{
    -fx-background-color: #eee5de;
}
.rightPanel{
    -fx-background-color: #eee5de;
}
.button{
    -fx-background-color: #625D5D;
}
.button:hover{
    -fx-background-color: #000000;
}
.textField{
    -fx-background-color: #f6f2df;
}
.button2{
    -fx-background-color: #ae9279;
}
.button2:hover{
    -fx-background-color: #7f6a59;
}

/* TODO */
.table{
    -fx-background-color: #ae9279;
}
.tab{
    -fx-background-color: #ae9c8e;
    -fx-focus-color: #20bdc5;
}
.tab-pane{
    -fx-tab-min-width: 90px;
}
.tab:selected{
    -fx-background-color: #eee5de;
}
.tab:selected .tab-label{
    -fx-font-weight: bold;
}
.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: #ae9c8e;
}
.layoutPanel{
    -fx-background-radius: 5;
    -fx-background-color: #625D5D;
}
.text-field{
    -fx-focus-color: #20bdc5;
}
.table-view{
    -fx-focus-color: #20bdc5;
}
.radio-button{
    -fx-focus-color: #20bdc5;
}
.text-area{
    -fx-focus-color: #20bdc5;
}